@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.separator {
  width: 1px;
  height: 12px; /* altura */
  background-color: #ccc;
  margin: 0 8px; /* espaço entre a barra e os itens */
}
